[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jose = "*"
requests = "*"
boto3 = "*"
pytest = "*"

[dev-packages]
boto3 = "*"
python-lambda = "*"
pyyaml = "*"
pipfile-requirements = "*"
click = "*"
pytest = "*"

[requires]
python_version = "3.7"
