[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jose = "*"
requests = "*"
stripe = "*"
mangum = "*"
fastapi = "*"

[dev-packages]
pipfile-requirements = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.7"
